@import url(fonts.css);

:root {
    --primary-font: 'Lato';
    --primary-color: #fff;
    --secondary-color: #ED4C5C;
    --ternary-color: #000000;
    --body: #fff;
    --txt-color: #101010;
    --card-color: #fff;
    --section-backgruond: #ED4C5C;
    --footer-backgruond: #FAFAFA;
}

body {
    background: var(--body);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.title {
    font-weight: 600;
    font-size: calc(25px + 11 * (100vw / 1920));
    color: var(--txt-color);
}

.card__title {
    font-size: 18px;
    color: var(--ternary-color);
    text-align: center;
    line-height: 21px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

/* header  start */

.header {
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

/* nav start */

.header__nav {
    padding: 33px 0 27px
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo-btn {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.header__nav-list {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header__nav-link {
    color: var(--primary-color);
    font-size: 14px;
    text-transform: uppercase;
}

.header__nav-form {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.header__form-select {
    font-size: 14px;
    color: var(--primary-color);
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
    margin-right: 16px;
}

.header__form-option {
    color: var(--ternary-color);
}

.header__form-button {
    padding: 12px 28px;
    font-size: 14px;
    color: var(--primary-color);
    text-transform: uppercase;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}

/* nav end */

/* header content start */

.header__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header__content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.header__content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 39px;
}

.header__content-title {
    font-size: calc(36px + 36 * (100vw / 1920));
    /* font-size: 72px; */
    color: var(--primary-color);
    text-transform: uppercase;
    max-width: 578px;
    width: 100%;
}

.header__content-txt {
    font-weight: 600;
    color: var(--primary-color);
    font-size: calc(16px + 8 * (100vw / 1920));
    /* font-size: 24px; */
    line-height: 150%;
    max-width: 510px;
    width: 100%;
}

.header__content-link {
    font-weight: 600;
    font-size: 14px;
    padding: 17px 53px;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    border-radius: 6px;
}

/* header content end */

/* header  end */

/* main start */

/* easy start */

.easy {
    padding: 95px 0;
}

.easy__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.easy__content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.easy__content-title {
    max-width: 445px;
    width: 100%;
}

.easy__content-txt {
    max-width: 445px;
    width: 100%;
    color: var(--txt-color);
    text-align: justify;
    font-size: 14px;
}

.easy__content-link {
    font-size: 14px;
    color: var(--secondary-color);
}

.easy__content-video {
    position: relative;
}

.easy__video-image {
    width: 445px;
    height: 311px;
    object-fit: cover;
}

.easy__video-link {
    position: absolute;
    top: 50%;
    left: -30px;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    background: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.easy__video-icon {
    text-align: center;
}

/* easy end */

/* feature start */

.feature {
    padding: 63px 0 229px;
    background: var(--footer-backgruond);
}

.feature__title {
    text-align: center;
    margin-bottom: 63px;
}

.feature__cards {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.feature__card {
    position: relative;
}

.feature__card-image {
    width: 350px;
    height: 250px;
}

.feature__card-image:hover ~ .feature__card-content {
    transform: translate(-50%, 30%);
}

.feature__card-content {
    position: absolute;
    width: 293px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 33px 32px 25px;
    background: var(--primary-color);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .5s;
}

.feature__card-title {
    margin-bottom: 20px;
    max-width: 229px;
    width: 100%;
}

.feature__card-txt {
    font-size: 12px;
    max-width: 229px;
    width: 100%;
    margin-bottom: 25px;
}

.feature__card-link {
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary-color);
}

/* feature end */

/* technology start */

.technology {
    padding: 63px 0 104px;
}

.technology__title {
    text-align: center;
    margin-bottom: 52px;
}

.technology__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: quantity;
}

.technology__card {
    padding: 4px 32px 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    row-gap: 10px;
    height: 226px;
}

.technology__card::before {
    position: absolute;
    content: '0' counter(quantity);
    font-weight: 700;
    font-size: 100px;
    color: rgba(16, 16, 16, 0.08);
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    counter-increment: quantity;
}

.technology__card-txt {
    font-size: 12px;
    text-align: center;
    max-width: 191px;
    width: 100%;
}

/* technology end */

/* main end */