@import url(fonts.css);

:root {
    --primary-font: 'Lato';
    --primary-color: #fff;
    --secondary-color: #ED4C5C;
    --ternary-color: #000000;
    --body: #fff;
    --txt-color: #101010;
    --card-color: #fff;
    --section-backgruond: #ED4C5C;
    --footer-backgruond: #FAFAFA;
}

body {
    background: var(--body);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.title {
    font-weight: 600;
    font-size: 36px;
    color: var(--txt-color);
}

.card__title {
    font-size: 18px;
    color: var(--ternary-color);
    text-align: center;
    line-height: 21px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

/* header  start */

.header {
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

/* nav start */

.header__nav {
    padding: 33px 0 27px
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo-btn {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.header__nav-list {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header__nav-link {
    color: var(--primary-color);
    font-size: 14px;
    text-transform: uppercase;
}

.header__nav-form {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.header__form-select {
    font-size: 14px;
    color: var(--primary-color);
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
    margin-right: 16px;
}

.header__form-option {
    color: var(--ternary-color);
}

.header__form-button {
    padding: 12px 28px;
    font-size: 14px;
    color: var(--primary-color);
    text-transform: uppercase;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}

/* nav end */

/* header content start */

.header__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header__content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.header__content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 39px;
}

.header__content-title {
    font-size: calc(36px + 36 * (100vw / 1920));
    color: var(--primary-color);
    text-transform: uppercase;
    max-width: 578px;
    width: 100%;
}

.header__content-txt {
    font-weight: 600;
    color: var(--primary-color);
    font-size: calc(16px + 8 * (100vw / 1920));
    line-height: 150%;
    max-width: 510px;
    width: 100%;
}

.header__content-link {
    font-weight: 600;
    font-size: 14px;
    padding: 17px 53px;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    border-radius: 6px;
}

/* header content end */

/* header  end */